.App {
  text-align: center;
}

form{
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}

form label{
  width: 72px;
  font-weight: bold;
  display: inline-block;
}
